body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.center{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:100vh;
gap:10px;
}

input{
padding:10px;
width:250px;
border:none;
border-radius:5px;
}

button{
padding:10px;
border:none;
border-radius:5px;
background:#22c55e;
color:white;
cursor:pointer;
}

.sidebar{
position:fixed;
width:200px;
height:100vh;
background:#111827;
padding:20px;
}

.sidebar button{
display:block;
width:100%;
margin:10px 0;
}

.main{
margin-left:220px;
padding:30px;
}

.section{
display:none;
}

.section.active{
display:block;
}

.card{
background:#1e293b;
padding:20px;
margin:15px 0;
border-radius:10px;
}

.progressBar{
background:#333;
height:10px;
border-radius:10px;
margin-top:10px;
}

#progress{
height:10px;
background:#22c55e;
width:0%;
border-radius:10px;
}

ul{
margin-top:20px;
}